<form action="/search" method="GET">
  <label for="search">Search:</label>
  <input type="text" id="search" name="search">
</form>

{{#each recipe}}
  <img src="{{imgSrc}}" alt="">
  <p>{{label}}</p>
  <p>
  {{#each this.dietLabel}}
    <span>{{tag}}</span>
  {{/each}}
  </p>
{{/each}}